#########################################
###                DEBUG              ###
#########################################


#########################################
###                MCU                ###
#########################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_500059001051383039343538-if00


#########################################
###         CONFIG & FILES            ###
#########################################

[include 0000_variables.cfg]
[include 0001_klicky_probe.cfg]
[include 0002_service_macros.cfg]
[include 0003_printing_macros.cfg]
[include 0004_homing.cfg]

[force_move]
enable_force_move: true

[virtual_sdcard]
path: ~/gcode_files

[printer]
kinematics: corexy
max_velocity: 10000
max_accel: 10000
max_z_velocity: 20
max_z_accel: 200
max_accel_to_decel: 10000
square_corner_velocity: 5.0

[idle_timeout]
timeout: 1800


### Klicky-Probe, connected on Y+ Endstop
[probe]
pin: ^PA2
x_offset: -2
y_offset: 33
z_offset: 2.4
speed: 5
lift_speed: 10

[z_tilt]
z_positions:
	-42.5,1
	192,419
	385,-1
points:
	7,1
	170,316
	339,1
speed: 250
horizontal_move_z: 30

[z_calibration]
nozzle_xy_position: 192.0, 356.0
switch_xy_position: 194, 323
bed_xy_position: 177, 142
samples: 3
samples_result: median
switch_offset: 0.4
max_deviation: 3
clearance: 15
speed: 250

[bed_mesh]
speed:100
horizontal_move_z: 10
mesh_min:0,25
mesh_max:344, 328
probe_count: 21,21
algorithm: bicubic
bicubic_tension: 0.2


[temperature_sensor HostTemp]
sensor_type: temperature_host

#Chamber light
### Chamber light, connected to E2
[output_pin chamber_light]
pin: PB3

#[input_shaper]
#shaper_freq_x: 75
#shaper_freq_y: 64.5

#########################################
###               MODULES             ###
#########################################

[respond]
default_type: echo

[display_status]

[pause_resume]

#########################################
###         STEPPERS & ENDSTOPS       ###
#########################################




### Motor B (left), connected to stepper X on Fysetc 2209 v3.1, X- clicker endstop
[stepper_x]
step_pin: PE11
dir_pin: PE10
enable_pin: !PE9
rotation_distance: 40
microsteps: 256
endstop_pin: ^PB14
position_endstop: 350
position_max: 350
position_min: 0
homing_speed: 100

[tmc2209 stepper_x]
uart_pin: PE7
run_current: 1.0
interpolate: False

### Motor A (right), connected to stepper Y on Fysetc 2209 v3.1, Y- clicker endstop
[stepper_y]
step_pin: PD8
dir_pin: PB12
enable_pin: !PD9
rotation_distance: 40
microsteps: 128
endstop_pin: ^PB13
position_endstop: 356
position_max: 356
position_min: 0
homing_speed: 100

[tmc2209 stepper_y]
uart_pin: PE15
run_current: 1.0
interpolate: False

### Z-Axis
#0 (left), connected to stepper E2 on Fysetc 2209 v3.1, Z- clicker endstop on X??? Y???, only use with safe homing
[stepper_z]
step_pin: PE2
dir_pin: !PE4
enable_pin: !PE3
rotation_distance: 2
microsteps: 16
endstop_pin: PA0
position_endstop: 5
position_min: -5
position_max: 240
homing_speed: 10

[tmc2209 stepper_z]
uart_pin: PC15
run_current: 0.75
interpolate: False

#1 (middle), connected to stepper E3 Fysetc 2209 v3.1, no endstop
[stepper_z1]
step_pin: PD12
dir_pin: !PC4
enable_pin: !PE8
rotation_distance: 2
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PA15
run_current: 0.75
interpolate: False

#2 (right), connected to stepper E4 Fysetc 2209 v3.1, no endstop
[stepper_z2]
step_pin: PE1
dir_pin: !PE0
enable_pin: !PC5
rotation_distance: 2
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PD11
run_current: 0.75
interpolate: False


#########################################
###       EXTRUDER, BED, CHAMBER      ###
#########################################

### Main extruder, connected to stepper E1 on Fysetc 2209 v3.1, heater on e0 out, sensor on TE0
### Hotend fan on PA13, cooling fan on PB2
[extruder]
step_pin: PE6
dir_pin: !PC13
enable_pin: !PE5
microsteps: 16
rotation_distance: 22.111
full_steps_per_rotation: 200
gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 200.0
max_extrude_only_accel: 10000
max_extrude_only_velocity: 99999
heater_pin: PB15
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC0
#control: pid
#pid_kp: 23
#pid_ki: 1
#pid_kd: 103
min_extrude_temp: 150
min_temp: 15
max_temp: 300

[tmc2209 extruder]
uart_pin: PC14
run_current: 0.6
interpolate: False

###Coldend 3950
###Connected to TE1
[temperature_sensor coldend]
sensor_type: Generic 3950
sensor_pin: PC1
min_temp: 0
max_temp: 150
gcode_id: CE

[heater_fan dragon]
pin: PB2


### Part cooling fans, 2x5015 on E1
[fan]
pin: PC8
cycle_time: 0.005

#Chamber
### Chamber sensor, connected to TE4
[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PB1
min_temp: 0
max_temp: 80
gcode_id: C



### Heater bed, 220v via SSR with thermal fuse on BED_OUT, sensor on TB
[heater_bed]
heater_pin: PB4
sensor_type: Generic 3950
sensor_pin: PB0
min_temp: 15
max_temp: 160
control: pid
pid_kp: 53.604
pid_ki: 12.608
pid_kd: 275.389


#########################################
###      		 DISPLAY		     ###
#########################################
### FYSETC Mini12864 Panel, Connected to exp1&2
[display]
lcd_type: uc1701
cs_pin: PC11
a0_pin: PD2
rst_pin: PC10
encoder_pins: ^PC6,^PC7
click_pin: ^!PA8
contrast: 63
#spi_bus: spi1
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5

[neopixel fysetc_mini12864]
#	To control Neopixel RGB in mini12864 display
pin: PC12
chain_count: 3
initial_RED: 1.0
initial_GREEN: 0.639
initial_BLUE: 0.0
color_order: RGB

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.546
#*# pid_ki = 1.862
#*# pid_kd = 51.309
